{% extends "layout.html" %}
{% block content %}
<div class="form-group col-md-3">
               <center><h3>Agregar solicitante</h3></center>
               <br>
               <h6>Usar mayusculas en todos los campos</h6>
             </div>
<form action="/agrega_solicitante" method="post">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="curp">Curp</label>
            <input type="text" class="form-control" name="curp" id="curp" placeholder="MAHJ280603MSPRRV09" pattern="[A-Z]{4}[0-9]{6}[A-Z]{6}[0-9A-Z]{1}[0-9]{1}" title="Por favor, escriba la CURP correctamente (10 caracteres alfanumericos)" required minlength="18" maxlength="18">
        </div>
        <div class="form-group col-md-2">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="apellido paterno materno nombre(s)" required>
        </div>
        <div class="form-group col-md-2">
            <label for="rfc">RFC</label>
            <input type="text" class="form-control" name="rfc" id="rfc" placeholder="CUPU800825569" pattern="[A-Z]{4}[0-9]{6}[0-9A-Z]{3}" title="Por favor, escriba el RFC correctamente (10 caracteres Alfanumericos)" required minlength="13" maxlength="13">
        </div>
        <div class="form-group col-md-2">
            <label for="telefono">Numero telefonico</label>
            <input type="tel" class="form-control" name="telefono" id="telefono" placeholder="4492833130" pattern="[0-9]{10}" title="Por favor, escriba el numero correctamente (10 caracteres numericos)" required minlength="10" maxlength="10">
        </div>
        <div class="form-group col-md-2">
            <label for="domicilio">Domicilio</label>
            <input type="text" class="form-control" name="domicilio" id="domicilio" placeholder="colonia calle numero"  required>
        </div>
            <div class="form-group col-md-2">
            <label for="email">Correo electronico</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="XXXXX@XXXXXX.com" required>
        </div>
        <div class="form-group col-md-2">
            <label for="nss">Numero de seguridad social</label>
            <input type="text" class="form-control" name="nss" id="nss" placeholder="07957595548." pattern="[0-9]{11}" title="Por favor, escriba el NSS correctamente (10 caracteres numericos)"  required minlength="11" maxlength="11">
        </div>
        <div class="form-group col-md-1">
            <label for="edad">Edad</label>
            <input type="text" class="form-control" name="edad" id="edad" placeholder="00" pattern="[0-9]{2}" title="Por favor ingresa la edad correcta para continuar"  required minlength="1" maxlength="2">
        </div>
        <div class="form-group col-md-2">
            <label for="sexo">Sexo</label>&nbsp;&nbsp;
            <select style="background-color: #1290C2; color: #FAFAFA; width:250px"  id="sexo" name="sexo" class="form-control"required>
                <option value="">-----</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
            </select>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form-group col-md-2">
            <label for="estadoc">Estado civil</label>
            <select style="background-color: #1290C2; color: #FAFAFA; width:250px"  id="estadoc" name="estadoc" class="form-control"required>
                <option value="">-----</option>
                {% for dato in datos %}
                <option style="background-color: #FFFFFF; color:#000000" value="{{dato.0}}">{{dato.1}}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="form-row">
    </div>
    <button type="submit" class="btn btn-primary">Agrega</button>
</form>
{% endblock %}